{% extends 'application/public/layout.html.twig' %}

{% block title %}Personal finance management app{% endblock %}

{% block main %}
    <div>
        {{ section(_register_form) }}
    </div>
{% endblock %}
